.play-container {
    padding-left: 2%;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.play-video {
    flex-basis: 70%;
}

.right-sidebar {
    flex-basis: 29%;
}

.play-video video {
    width: 100%;
}

.side-video-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.side-video-list img {
    width: 100%;
}

.side-video-list .small-thumbnail {
    flex-basis: 49%;
}
.side-video-list .vid-info {
    flex-basis: 49%;
}