@media (max-width:900px) {
    .menu-icon {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .container,
    .large-container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .nav-right img {
        display: none;
    }

    .nav-right .user-icon {
        display: block;
        width: 30px;
    }

    .nav-middle .search-box input {
        width: 100px;
    }

    .nav-middle .mic-icon {
        display: none
    }

    .logo {
        width: 90px;
    }

}